Repository superlinear-ai/agoro-field-boundary-detector: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pydocstyle, proselint

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black --line-length 100
  require_serial: true
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

proselint:
  name: proselint
  entry: env XDG_CONFIG_HOME=.vscode proselint
  language: system

Update gitignore
  .gitignore
  README.md
Due: proselint

Windows bugfix
  src/agoro_field_boundary_detector/field_detection/dataset.py
Due: isort, black, flake8, mypy, pydocstyle

Create wrapper for the field detector
  .gitignore
  README.md
  environment.dev.yml
  models/__init__.py
  src/agoro_field_boundary_detector/field_detection/__init__.py
  src/agoro_field_boundary_detector/field_detection/dataset.py
  src/agoro_field_boundary_detector/field_detection/main.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/utils.py
  src/agoro_field_boundary_detector/field_detection/model.py
  src/agoro_field_boundary_detector/mask_rcnn.py
Due: isort, black, flake8, mypy, pydocstyle, proselint

Minor improvements
  data/annotations.json
  data/coordinates.json
  data/raw/40.48607--90.534608.png
  src/agoro_field_boundary_detector/augment_data.py
  src/agoro_field_boundary_detector/data/utils.py
  src/agoro_field_boundary_detector/field_detection/model.py
Due: isort, black, flake8, mypy, pydocstyle

Bugfixes, create proper script for mask_rcnn
  src/agoro_field_boundary_detector/field_detection/model.py
  src/agoro_field_boundary_detector/mask_rcnn.py
Due: isort, black, flake8, mypy, pydocstyle

Improve early stopping
  src/agoro_field_boundary_detector/field_detection/model.py
Due: isort, black, flake8, mypy, pydocstyle

Removed deprecated files
  data_depr/augmented/__init__.py
  src_depr/__init__.py
  src_depr/field_detection/__init__.py
  src_depr/field_detection/data/__init__.py
  src_depr/field_detection/data/generate.py
  src_depr/field_detection/data/transforms.py
  src_depr/field_detection/data/utils.py
  src_depr/field_detection/dataset.py
  src_depr/field_detection/main.py
  src_depr/field_detection/mask_rcnn/__init__.py
  src_depr/field_detection/mask_rcnn/coco_eval.py
  src_depr/field_detection/mask_rcnn/coco_utils.py
  src_depr/field_detection/mask_rcnn/engine.py
  src_depr/field_detection/mask_rcnn/group_by_aspect_ratio.py
  src_depr/field_detection/mask_rcnn/presets.py
  src_depr/field_detection/mask_rcnn/train.py
  src_depr/field_detection/mask_rcnn/transforms.py
  src_depr/field_detection/mask_rcnn/utils.py
  src_depr/field_detection/model.py
  src_depr/field_detection/model_inspect.py
  src_depr/field_detection/utils.py
Due: isort, black, flake8, mypy, pydocstyle

Finish annotating testset
  data/annotations.json
  src/agoro_field_boundary_detector/mask_rcnn.py
Due: isort, black, flake8, mypy, pydocstyle

Labeled more training samples:
  data/annotations.json
  src/agoro_field_boundary_detector/field_detection/model.py
  src/agoro_field_boundary_detector/mask_rcnn.py
Due: isort, black, flake8, mypy, pydocstyle

More annotated samples
  data/annotations.json
  src/agoro_field_boundary_detector/augment_data.py
  src/agoro_field_boundary_detector/field_detection/model.py
Due: isort, black, flake8, mypy, pydocstyle

Finish annotating
  data/annotations.json
Due: none

Less aggressive augmentation
  src/agoro_field_boundary_detector/data/transformations.py
Due: isort, black, flake8, mypy, pydocstyle

Update annotations
  data/annotations.json
  src/agoro_field_boundary_detector/data/utils.py
Due: isort, black, flake8, mypy, pydocstyle

Update Mask RCNN notebook
  notebooks/3_mask_rcnn.ipynb
  src/agoro_field_boundary_detector/field_detection/__init__.py
  src/agoro_field_boundary_detector/mask_rcnn.py
Due: isort, black, flake8, mypy, pydocstyle

Update .gitignore
  .gitignore
Due: none

Update mask_rcnn model config
  .gitignore
  notebooks/3_mask_rcnn.ipynb
  src/agoro_field_boundary_detector/field_detection/model.py
  src/agoro_field_boundary_detector/mask_rcnn.py
Due: isort, black, flake8, mypy, pydocstyle

Update 3_mask_rcnn.ipynb
  notebooks/3_mask_rcnn.ipynb
Due: none

Minor changes in annotations
  data/annotations.json
  data/vgg_project.json
  notebooks/3_mask_rcnn.ipynb
  src/agoro_field_boundary_detector/field_detection/model.py
  src/agoro_field_boundary_detector/mask_rcnn.py
Due: isort, black, flake8, mypy, pydocstyle

Minor changes annotations
  data/annotations.json
  data/vgg_project.json
Due: none

Update doc field boundary folder
  .pre-commit-config.yaml
  README.md
  environment.dev.yml
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/coco_eval.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/coco_utils.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/engine.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/group_by_aspect_ratio.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/presets.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/train.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/transforms.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/utils.py
  src/agoro_field_boundary_detector/field_detection/model.py
Due: isort, black, flake8, mypy, pydocstyle, proselint

Updated README and setup.py, added threshold in interface directly
  LICENSE
  README.md
  notebooks/1_google_earth_engine.ipynb
  notebooks/2_data_augmentation.ipynb
  notebooks/example.png
  setup.py
  src/agoro_field_boundary_detector/main.py
Due: isort, black, flake8, mypy, pydocstyle, proselint

Fix faulty import base
  setup.py
  src/agoro_field_boundary_detector/augmentation/__init__.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/coco_eval.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/coco_utils.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/engine.py
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/train.py
  src/agoro_field_boundary_detector/field_detection/model.py
  src/agoro_field_boundary_detector/google_earth_engine/__init__.py
  src/agoro_field_boundary_detector/i_export_field_data.py
  src/agoro_field_boundary_detector/ii_augment_data.py
  src/agoro_field_boundary_detector/iii_train_mask_rcnn.py
  src/agoro_field_boundary_detector/main.py
Due: isort, black, flake8, mypy, pydocstyle

Made new GEE session optional
  setup.py
  src/agoro_field_boundary_detector/main.py
Due: isort, black, flake8, mypy, pydocstyle

Remove unused dependency
  setup.py
  src/agoro_field_boundary_detector/google_earth_engine/utils.py
Due: isort, black, flake8, mypy, pydocstyle

Enable CUDA at inference
  setup.py
  src/agoro_field_boundary_detector/field_detection/model.py
Due: isort, black, flake8, mypy, pydocstyle

Scaling bugfix, added inference notebook
  notebooks/1_google_earth_engine.ipynb
  notebooks/interference.ipynb
  setup.py
  src/agoro_field_boundary_detector/google_earth_engine/__init__.py
  src/agoro_field_boundary_detector/google_earth_engine/utils.py
  src/agoro_field_boundary_detector/main.py
Due: isort, black, flake8, mypy, pydocstyle

Disable RGBA for NAIP
  setup.py
  src/agoro_field_boundary_detector/main.py
Due: isort, black, flake8, mypy, pydocstyle

Update README.md
  README.md
Due: proselint

Prevent f1 NaN due to division by zero
  src/agoro_field_boundary_detector/field_detection/mask_rcnn/engine.py
Due: isort, black, flake8, mypy, pydocstyle

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$, but not: ^tasks/
  flake8: any of: \.py$, but not: (^tasks/|.*_depr[.]py)
  mypy: any of: \.py$, but not: .*_depr[.]py
  pydocstyle: any of: \.py$, but not: .*_depr[.]py
  proselint: any of: \.(md|rst)$
